{{ define "letter-content" }}
Dear Mr Chris Mount-Benites,

My name is {{ .letter.Name }}.

I have {{ .letter.NumChildren }} {{ if (gt .letter.NumChildren 1) }}children{{ else }} child {{ end }} attending {{$n := (len .letter.Schools) }}{{ range $i, $school := .letter.Schools }}{{ if $i }}, {{ end }}{{ if eq (plus1 $i) $n }}and {{ end }}{{$school.Name}}{{ end }}.

I'd like to express my thoughts about the options we have for school reopening in Fall 2020:
{{ range .letter.Concerns }}
{{ .Title }}

{{ .Description }}
{{ end }}
{{ if .letter.FreeForm }}{{ .letter.FreeForm }}{{ end }}

Sincerely,

{{ .letter.Name }}, a concerned community member.
{{ end }}

{{ define "content" }}
<main>
  <section>
    <header>
      BSD Feedback Email Preview
    </header>
    <p>Thank you for sending this letter to the Burlingame School District Superintendent. This will ensure the voices of parents like you are heard.</p>
    <p>You can keep track of the URL if you want to get back to this page.</p>

    <h2>Privacy note</h2>
    <p>Your contact information and statistics are being recorded. This includes your email address and name.</p>
    <p>This data will not be shared with any other party and is recorded so that you can get access to your letter in the future.</p>
    <p>Aggregate statistics about your responses will be shared with the superintendent in the future.</p>
  </section>
  <section>
    <nav>
      <ol>
        <li>
          <button onclick="sendEmail({{ .letter.ID }}, {{ .letter.SendCount }})">Click to Send Email</button>
        </li>
        <li>
          <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
        </li>
        <li>
          <div id="fb-share"></div>
        </li>
      </ol>
    </nav>
    <pre id="letter-preview">
      {{ template "letter-content" . }}
    </pre>
  </section>
</main>
<script src="/static/js/mail_button.js"></script>
<script>window.twttr = (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0],
       t = window.twttr || {};
   if (d.getElementById(id)) return t;
   js = d.createElement(s);
   js.id = id;
   js.src = "https://platform.twitter.com/widgets.js";
   fjs.parentNode.insertBefore(js, fjs);

   t._e = [];
   t.ready = function(f) {
     t._e.push(f);
   };

   return t;
 }(document, "script", "twitter-wjs"));</script>
{{ end }}
